<h2>Change password</h2>

<%= render "change_password_form.html", changeset: @changeset,
                        back_path: journal_path(@conn, :index),
                        action: user_home_path(@conn, :update_change_password) %>
