<h2>Change password</h2>

<%= render "change_password_form.html", changeset: @changeset,
                        action: user_user_home_path(@conn, :update_change_password) %>

<%= link "Back", to: user_user_home_path(@conn, :index) %>
