<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello GrowJournal!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link "Grow Journal", to: plant_path(@conn, :index), class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <%= if Plug.Conn.get_session(@conn, :user_id) do %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link "Admin area", to: admin_user_path(@conn, :index) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link "Logout", to: session_path(@conn, :delete) %></li>
          </ul>
        </li>
        <%= else %>
        <li><%= link "Register", to: user_path(@conn, :new) %></li>
        <li><%= link "Login", to: session_path(@conn, :new) %></li>
        <%= end %>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <h2>Plants</h2>
            <div class="list-group">
              <%= link "Add new plant", to: plant_path(@conn, :new), class: "list-group-item" %>
            </div>
          </div>
          <div class="col-md-10">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
    </main>

  </div> <!-- /container-fluid -->
  <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous">
  </script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
