<h2>New event</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_user_plant_event_path(@conn, :create, @user_plant) %>

<%= link "Back", to: user_user_plant_path(@conn, :show, @user_plant) %>
