<h2>Edit variety</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: admin_plant_path(@conn, :show, @plant),
                        action: admin_plant_variety_path(@conn, :update, @plant, @variety) %>
