<h2>Show variety</h2>

<ul>

  <li>
    <strong>Plant:</strong>
    <%= @variety.plant_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @variety.name %>
  </li>

</ul>

<%= link "Edit", to: admin_plant_variety_path(@conn, :edit, @plant, @variety) %>
<%= link "Back", to: admin_plant_variety_path(@conn, :index, @plant) %>
