<h2>New disease</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: admin_plant_path(@conn, :show, @plant),
                        action: admin_plant_disease_path(@conn, :create, @plant.id) %>
