<h2>Edit entry</h2>

<%= render "edit_form.html", changeset: @changeset,
                        back_path: journal_path(@conn, :show, @journal),
                        action: journal_entry_path(@conn, :update, @journal, @entry) %>
