<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :short_description, class: "control-label" %>
    <%= text_input f, :short_description, class: "form-control" %>
    <%= error_tag f, :short_description %>
  </div>

  <div class="form-group">
    <%= label f, :when, class: "control-label" %>
    <%= datetime_select f, :when, class: "form-control" %>
    <%= error_tag f, :when %>
  </div>

  <div class="form-group">
    <%= label f, :picture_path, class: "control-label" %>
    <%= file_input f, :picture_path %>
    <%= error_tag f, :picture_path %>
  </div>

  <div class="form-group">
    <%= label f, :long_description, class: "control-label" %>
    <%= text_input f, :long_description, class: "form-control" %>
    <%= error_tag f, :long_description %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
    <%= link "Back", to: @back_path, class: "btn btn-default" %>
  </div>
<% end %>
