<h2>New entry</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: journal_path(@conn, :index),
                        action: journal_entry_path(@conn, :create, @journal) %>
