<h2>Edit user</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: admin_user_path(@conn, :index),
                        action: admin_user_path(@conn, :update, @user) %>
