<h2>Edit pest</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: admin_plant_path(@conn, :show, @plant),
                        action: admin_plant_pest_path(@conn, :update, @plant, @pest) %>
