<h1>List of plants</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Last updated</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for plant <- @plants do %>
    <tr>
      <td><%= plant.name %></td>
      <td><a href="/media<%= plant.picture %>"><img src="/media<%= plant.picture %>" alt="<%= plant.name %>" class="thumbnail img-thumbnail" /></a></td>
      <td><%= plant.updated_at %></td>

      <td class="text-right">
        <%= link "Show", to: plant_path(@conn, :show, plant), class: "btn btn-default btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
