<h2>
  Plant details
  <%= if @current_user do %>
    <%= form_for @changeset, journal_path(@conn, :create), fn f -> %>
      <%= text_input f, :plant_id, type: "hidden" %>
      <button type="submit" class="btn btn-sm btn-primary">Add to my journals</button>
    <%= end %>
  <%= end %>
</h2>

<strong>Name:</strong>
<%= @plant.name %>
<br />

<strong>Picture:</strong>
<a href="/media<%= @plant.picture %>"><img class="thumbnail img-thumbnail" src="/media<%= @plant.picture %>" /></a>
<br />

<strong>Description:</strong>
<%= @plant.description %>
<br/>


<h3>Common diseases</h3>
<table class="table table-hover">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <%= for disease <- @plant.diseases do %>
    <tr>
      <td><%= disease.name %></td>
    </tr>
    <%= end %>

  </tbody>
</table>

<h3>Common pests</h3>
<table class="table table-hover">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <%= for pest <- @plant.pests do %>
    <tr>
      <td><%= pest.name %></td>
    </tr>
    <%= end %>

  </tbody>
</table>
<br/>

<h3>Varieties</h3>
<table class="table table-hover">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <%= for variety <- @plant.varieties do %>
    <tr>
      <td><%= variety.name %></td>
    </tr>
    <%= end %>

  </tbody>
</table>

<%= link "Back", to: plant_path(@conn, :index), class: "btn btn-default" %>
