<h2>Edit plant</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: admin_plant_path(@conn, :index),
                        action: admin_plant_path(@conn, :update, @plant) %>
