<h2>
  Plant details
  <small>
    <%= link "Edit", to: admin_plant_path(@conn, :edit, @plant.id) %>
  </small>
</h2>

<strong>Name:</strong>
<%= @plant.name %>
<br />

<%= if @plant.picture do %>
<strong>Picture:</strong>
<img src="/media<%= @plant.picture %>" />
<br />
<%= end %>

<strong>Description:</strong>
<%= @plant.description %>

<h3>Common diseases</h3>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <%= for disease <- @plant.diseases do %>
    <tr>
      <td><%= disease.name %></td>
      <td class="text-right">
        <%= link "Edit", to: admin_plant_disease_path(@conn, :edit, @plant.id, disease.id), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: admin_plant_disease_path(@conn, :delete, @plant.id, disease.id), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <%= end %>

  </tbody>
</table>
<%= link "Add Disease", to: admin_plant_disease_path(@conn, :new, @plant.id), class: "btn btn-primary" %>

<h3>Common pests</h3>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <%= for pest <- @plant.pests do %>
    <tr>
      <td><%= pest.name %></td>
      <td class="text-right">
        <%= link "Edit", to: admin_plant_pest_path(@conn, :edit, @plant.id, pest.id), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: admin_plant_pest_path(@conn, :delete, @plant.id, pest.id), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <%= end %>

  </tbody>
</table>

<%= link "Add Pest", to: admin_plant_pest_path(@conn, :new, @plant.id), class: "btn btn-primary" %>
<br/>
<h3>Varieties</h3>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <%= for variety <- @plant.varieties do %>
    <tr>
      <td><%= variety.name %></td>
      <td class="text-right">
        <%= link "Edit", to: admin_plant_variety_path(@conn, :edit, @plant, variety), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: admin_plant_variety_path(@conn, :delete, @plant, variety), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <%= end %>

  </tbody>
</table>

<%= link "Add Variety", to: admin_plant_variety_path(@conn, :new, @plant), class: "btn btn-primary" %>
<%= link "Back", to: admin_plant_path(@conn, :index), class: "btn btn-default" %>
