<div class="hero">
	<div class="hero-inner">
    <a href="<%= page_path(@conn, :index) %>" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
      <h1>Welcome to Grow Journal! </h1>
			<p>The journey between you and your plants :)</p>
      <%= link "See list of plants.", to: plant_path(@conn, :index) %>
		</div>
	</div>
</div>
