<h2>Edit Journal</h2>

<%= render "form.html", changeset: @changeset,
                        action: journal_path(@conn, :update, @journal),
                        back_path: journal_path(@conn, :index),
                        plants: @plants %>
