<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :plant_id, class: "control-label" %>
  <%= select f, :plant_id, Enum.map(@plants ++ [%{"name": "My plant is not listed", "id": nil}], fn p -> {p.name, p.id} end) %>
  <%= error_tag f, :plant_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
    <%= link "Back", to: @back_path, class: "btn btn-default" %>
  </div>
<% end %>
