<h2>My Journals</h2>

<%= for group_journal <- Enum.chunk(@journals, 3, 3, []) do %>
<div class="row">
  <%= for journal <- group_journal do %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          <%= if journal.name do %>
          <%= link journal.name, to: journal_path(@conn, :show, journal) %>
          <%= else %>
            <%= link "This journal has no name", to: journal_path(@conn, :show, journal) %> <small><%= link "Edit", to: journal_path(@conn, :edit, journal) %></small>
          <%= end %>
          <%= link "x", to: journal_path(@conn, :delete, journal), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
        </h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-xs-12">
                <%= if last_picture(journal.entries) do %>
                  <a href="/media/<%= last_picture(journal.entries).picture_path %>"><img src="/media/<%= last_picture(journal.entries).picture_path %>" class="img-rounded thumbnail" alt="<%= journal.plant.name %>"></a>
                <%= else %>
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=No picture available&w=140&h=140" alt="No picture available" />
                <%= end %>
              </div>
            </div>
            <!-- <div class="row"> -->
            <!-- <div class="col-xs-12"> -->
            <!-- <ul class="list-unstyled"> -->
            <!-- <li><a href="#">See all pictures</a></li> -->
            <!-- </div> -->
          </div>
          <div class="col-sm-8">
            <h4>Last entries <small><%= link "Add new entry", to: journal_entry_path(@conn, :new, journal) %></small></h4>
            <ul>
              <%= for entry <- journal.entries do %>
              <li><%= entry.short_description %> <small><%= entry.when %></small></li>
              <%= end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= end %>
</div>
<%= end %>
<%= link "Add journal", to: journal_path(@conn, :new), class: "btn btn-primary" %>
<%= link "Print QR bar codes", to: journal_path(@conn, :qrcodes), class: "btn btn-default" %>
