<h2>Create new journal</h2>

<%= render "form.html", changeset: @changeset,
                        back_path: journal_path(@conn, :index),
                        action: journal_path(@conn, :create),
                        plants: @plants %>
