<!-- TODO: move this in sass -->
<style>
@media print {
  .navbar {
    display: none;
  }
  img {
    width: 100px;
    height: 100px;
  }
  a.btn {
    display: none;
  }
}
</style>
<h2>My qrcodes</h2>

<%= for group_journal <- Enum.chunk(@journals, 3, 3, []) do %>
<div class="row">
  <%= for journal <- group_journal do %>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= journal.plant.name %></h3>
        <div class="row">
          <img src="/media/<%= journal.qrcode_path %>" alt="<%= journal.plant.name %> qr code">
          </div>
          <div class="row">
            Added on: <%= journal.inserted_at %>
          </div>
      </div>
    </div>
  </div>
  <%= end %>
</div>
<%= end %>
<%= link "Back", to: journal_path(@conn, :index), class: "btn btn-default" %>
