<h2>
  <%= if @journal.name do %>
    <%= @journal.name %>
  <% else %>
    This journal has no name
  <%= end %>
  <small>
    <%= link "Edit", to: journal_path(@conn, :edit, @journal) %>
  </small>
</h2>

<strong>QR Code:</strong>
<img src="/media<%= @journal.qrcode_path %>" />

<h3>Last entries</h3>
<table class="table table-hover">
  <thead>
    <th>Short description</th>
    <th>When</th>
    <th>Image</th>
    <th>Description</th>
    <th></th>
  </thead>
  <tbody>
    <%= for entry <- @journal.entries do %>
    <tr>
      <td><%= entry.short_description %></td>
      <td><%= entry.when %></td>
      <td>
        <%= if entry.picture_path do %>
        <a href="/media/<%= entry.picture_path %>"><img class="thumbnail img-thumbnail" src="/media/<%= entry.picture_path %>" alt="Entry picture" /></a>
        <%= end %>
    </td>
      <td><%= entry.long_description %></td>
      <td>
        <%= link "Edit", to: journal_entry_path(@conn, :edit, @journal, entry), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: journal_entry_path(@conn, :delete, @journal, entry), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
    </td>
    </tr>
    <%= end %>
  </tbody>
</table>
<%= link "Add new entry", to: journal_entry_path(@conn, :new, @journal), class: "btn btn-primary" %>
<%= link "Back", to: journal_path(@conn, :index), class: "btn btn-default" %>
