<h2>Show pest</h2>

<ul>

  <li>
    <strong>Plant:</strong>
    <%= @pest.plant_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @pest.name %>
  </li>

</ul>

<%= link "Edit", to: pest_path(@conn, :edit, @pest) %>
<%= link "Back", to: pest_path(@conn, :index) %>
