<h2>Edit variety</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_variety_path(@conn, :update, @variety) %>

<%= link "Back", to: admin_variety_path(@conn, :index) %>
